<%- include ("../../partials/header.ejs") %>

<body class="g-sidenav-show  bg-gray-200">
  <%- include ("../../partials/sidebar.ejs") %>

  <!-- body -->
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark"><a href="/admin/creators">Creators</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Edit</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Edit Creator</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="navbar-nav justify-content-end ms-md-auto pe-md-3">
            <%- include ("../../partials/logout.ejs") %>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col"><%- include ("../../partials/message.ejs") %></div>
      </div>
      <div class="row">
        <div class="col-12 mb-xl-0 mb-4">
          <div class="card card-frame">
            <div class="card-header pb-1 pt-4">
              <h3>Edit Data <%= creator.fullname %></h3>
            </div>
            <div class="card-body pt-1">
              <form action="/admin/creators/edit/<%= creator.id_creator %>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="input-group input-group-dynamic mb-4">
                  <input type="text" class="form-control" name="fullname" value="<%= creator.fullname %>" placeholder="Full Name" aria-label="Full Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group input-group-dynamic mb-4">
                  <input type="email" class="form-control" name="email" value="<%= creator.email %>" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                </div>
                <label class="form-label font-weight-bold text-sm">Status</label>
                <div class="input-group input-group-dynamic mb-4">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Y" <%= creator.status === "Y" ? "checked" : '' %> name="status" id="customRadio1">
                    <label class="custom-control-label" for="customRadio1">Member</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="N" <%= creator.status === "N" ? "checked" : '' %> name="status" id="customRadio2">
                    <label class="custom-control-label" for="customRadio2">Non-Member</label>
                  </div>
                </div>
                <button type="submit" class="btn bg-gradient-info">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include ("../../partials/js.ejs") %>