<%- include ("../../partials/header.ejs") %>

<body class="g-sidenav-show  bg-gray-200">
  <%- include ("../../partials/sidebar.ejs") %>

  <!-- body -->
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark"><a href="/admin/vouchers">Vouchers</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Edit</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Edit Voucher</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="navbar-nav justify-content-end ms-md-auto pe-md-3">
            <%- include ("../../partials/logout.ejs") %>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col"><%- include ("../../partials/message.ejs") %></div>
      </div>
      <div class="row">
        <div class="col-12 mb-xl-0 mb-4">
          <div class="card card-frame">
            <div class="card-header pb-1 pt-4">
              <h3>Edit Vouchers</h3>
            </div>
            <div class="card-body pt-1">
              <form action="/admin/vouchers/edit/<%= voucher.id_voucher %>?_method=PUT" method="POST">
                <div class="input-group input-group-dynamic mb-4">
                  <span class="input-group-text" id="basic-addon1">Nominal Before</span>
                  <input type="number" class="form-control" name="nominal_before" value="<%= voucher.nominal_after %>" placeholder="Nominal Before" aria-label="Nominal Before" readonly aria-readonly="true" aria-describedby="basic-addon1">
                </div>
                <div class="input-group input-group-dynamic mb-4">
                  <span class="input-group-text" id="basic-addon1">Nominal After</span>
                  <input type="number" class="form-control" name="nominal_after" placeholder="Nominal After" aria-label="Nominal After" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn bg-gradient-info">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include ("../../partials/js.ejs") %>